* {
    margin: 0;
    padding: 0;
    background-color: #F5F5EF;
    margin-right: 0.5rem;
}

.main {
    width: 90rem; /* 90rem = 1440px */
    height: 233rem; /* 233rem = 3728px */
    min-height: 56.25rem; /* 56.25rem = 900px */
    top: -4.82rem; /* -77.125px */
    left: 3.21rem; /* 19.313px */
    padding: 0rem 3rem 0rem 3rem; /* 48px = 3rem */
    gap: 0rem;
    opacity: 0rem;
    background-color: #F5F5EF;
}

.navigation {
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 4rem; /* 80px = 5rem */
    padding: 1rem 0rem 0rem 0rem; /* 16px = 1rem */
    gap: 0px;
    border: 0px 0px 0.125rem 0px; /* 2px = 0.125rem */
    justify-content: space-between;
    opacity: 0px;
    background-color: #F5F5EF;
    display: flex;
}

.left h1 {
    width: 25rem; /* 400px = 25rem */
    height: 3rem; /* 48px = 3rem */
    gap: 0.75rem; /* 12px = 0.75rem */
    opacity: 0px;
    font-family: Syne;
    font-size: 2.625rem; /* 42px = 2.625rem */
    font-weight: 800;
    line-height: 2.625rem; /* 42px = 2.625rem */
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B;
}

.right {
    margin-top: 0.5rem;
    margin-right: -3rem;
    display: flex;
    width: 35.0625rem; /* 561px = 35.0625rem */
    height: 2rem; /* 32px = 2rem */
    gap: 2rem; /* 32px = 2rem */
    opacity: 0px;
}

.right p:nth-child(1) {
    width: 6.1875rem; /* 99px = 6.1875rem */
    height: 2rem; /* 32px = 2rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 1.75rem; /* 28px = 1.75rem */
    font-weight: 400;
    line-height: 2rem; /* 32px = 2rem */
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B;
}

.right p:nth-child(2) {
    width: 9rem; /* 144px = 9rem */
    height: 2rem; /* 32px = 2rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 1.75rem; /* 28px = 1.75rem */
    font-weight: 400;
    line-height: 2rem; /* 32px = 2rem */
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B;
}

.right p:nth-child(3) {
    width: 6.125rem; /* 98px = 6.125rem */
    height: 2rem; /* 32px = 2rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 1.75rem; /* 28px = 1.75rem */
    font-weight: 400;
    line-height: 2rem; /* 32px = 2rem */
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B;
}

.right p:nth-child(4) {
    width: 7.75rem; /* 124px = 7.75rem */
    height: 2rem; /* 32px = 2rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 1.75rem; /* 28px = 1.75rem */
    font-weight: 400;
    line-height: 2rem; /* 32px = 2rem */
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B;
}

.border1 {
    width: 94rem; /* 1504px = 94rem */
    height: 0rem; /* 0px */
    gap: 0px;
    border: 0.125rem solid rgba(23, 52, 9, 0.16); /* 2px = 0.125rem */
    opacity: 0px;
    margin-left: -2.8125rem; /* -45px = -2.8125rem */
}

.center {
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 217.5rem; /* 3480px = 217.5rem */
    padding: 3rem 0rem 3rem 0rem; /* 48px = 3rem */
    gap: 0px;
    opacity: 0px;
}

.container1 {
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 211.5rem; /* 3384px = 211.5rem */
    gap: 0px;
    opacity: 0px;
    margin-top: -86rem;
}

.incontainer {
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 79.5rem; /* 1272px = 79.5rem */
    padding: 6rem 0rem 6rem 0rem; /* 96px = 6rem */
    gap: 3rem; /* 48px = 3rem */
    border: 0px 0px 0.125rem 0px; /* 2px = 0.125rem */
    opacity: 0px;
    background-color: #F5F5EF;
}

.text {
    width: 84rem; /* 1344px = 84rem */
    height: 22.5rem; /* 360px = 22.5rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 7.5rem; /* 120px = 7.5rem */
    font-weight: 400;
    line-height: 7.5rem; /* 120px = 7.5rem */
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B;
    margin-bottom: 3rem;
}

.incontainer img {
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 42rem; /* 672px = 42rem */
    gap: 0px;
    border-radius: 1.375rem 0px 0px 0px; /* 22px = 1.375rem */
    border: 0.125rem 0px 0px 0px; /* 2px = 0.125rem */
    opacity: 0px;
    border-top: 0.125rem solid #000000; /* 2px = 0.125rem */
}

.showcase {
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 46.25rem; /* 740px = 46.25rem */
    padding: 3rem 0rem 3rem 0rem; /* 48px = 3rem */
    gap: 3rem; /* 48px = 3rem */
    opacity: 0px;
    margin-bottom: -140rem;
}

.showcase-in {
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 40.25rem; /* 644px = 40.25rem */
    gap: 1.5rem; /* 24px = 1.5rem */
    opacity: 0px;
}

.showcase-in > p {
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 2.5rem; /* 40px = 2.5rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 2.125rem; /* 34px = 2.125rem */
    font-weight: 400;
    line-height: 2.5rem; /* 40px = 2.5rem */
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(29, 34, 27, 1);
    margin-top: -135rem;
    margin-bottom: 1.5rem;
}
.threepics {
    display: flex;
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 36.25rem; /* 580px = 36.25rem */
    gap: 3rem; /* 48px = 3rem */
    opacity: 0px;
}

.one, .two, .three {
    width: 26rem; /* 416px = 26rem */
    height: 36.25rem; /* 580px = 36.25rem */
    gap: 1.5rem; /* 24px = 1.5rem */
    opacity: 0px;
    text-align: center;
}

.one img, .two img, .three img {
    width: 26rem; /* 416px = 26rem */
    height: 26.25rem; /* 420px = 26.25rem */
    gap: 0px;
    border: 0.125rem 0px 0px 0px; /* 2px = 0.125rem */
    opacity: 0px;
    border-top: 0.125rem solid rgba(0, 0, 0, 1); /* 2px = 0.125rem */
}

.textthr {
    width: 26rem; /* 416px = 26rem */
    height: 4.75rem; /* 76px = 4.75rem */
    padding: 0rem 0.75rem 0rem 0.75rem; /* 12px = 0.75rem */
    gap: 0.75rem; /* 12px = 0.75rem */
    opacity: 0px;
    margin-top: 1.2rem;
}

.onep {
    width: 24.5rem; /* 392px = 24.5rem */
    height: 1.5rem; /* 24px = 1.5rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 1.25rem; /* 20px = 1.25rem */
    font-weight: 400;
    line-height: 1.5rem; /* 24px = 1.5rem */
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(29, 34, 27, 1);
    margin-top: 1rem;
}

.twop {
    width: 24.5rem; /* 392px = 24.5rem */
    height: 2.5rem; /* 40px = 2.5rem */
    gap: 0px;
    opacity: 0px;
    font-family: Kumbh Sans;
    font-size: 0.9375rem; /* 15px = 0.9375rem */
    font-weight: 500;
    line-height: 1.25rem; /* 20px = 1.25rem */
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(29, 34, 27, 1);
    margin-top: 1rem;
}

.threepics button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.625rem; /* 122px = 7.625rem */
    height: 2.25rem; /* 36px = 2.25rem */
    padding: 0.5rem 1rem 0.5rem 1rem; /* 8px = 0.5rem, 16px = 1rem */
    gap: 0px;
    font-size: 14px;
    opacity: 0px;
    background-color: #204F0A;
    margin-top: 1.2rem;
    font-family: Kumbh Sans;
    font-weight: 510;
    line-height: 1.25rem; /* 20px = 1.25rem */
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FBFFFA;
    background-color: #204F0A;
    margin-left: 9.2rem;
    margin-top: 1.8rem;
}



.paragraph {
    display: flex;
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 38rem; /* 608px = 38rem */
    padding: 6rem 0rem 6rem 0rem; /* 96px = 6rem */
    gap: 0px;
    opacity: 0px;
    margin-bottom: -8em;
}

.left1 {
    width: 42rem; /* 672px = 42rem */
    height: 26rem; /* 416px = 26rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 3rem; /* 48px = 3rem */
    font-weight: 400;
    line-height: 3.25rem; /* 52px = 3.25rem */
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B;
}

.left2 {
    width: 42rem; /* 672px = 42rem */
    height: 26rem; /* 416px = 26rem */
    gap: 0px;
    opacity: 0px;
}

.beforefooter {
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 21.25rem; /* 340px = 21.25rem */
    padding: 6rem 0rem 6rem 0rem; /* 96px = 6rem */
    gap: 6rem; /* 96px = 6rem */
    border: 0px 0px 0.125rem 0px; /* 2px = 0.125rem */
    opacity: 0px;
    display: flex;
}

.p1 {
    width: 39rem; /* 624px = 39rem */
    height: 3.25rem; /* 52px = 3.25rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 3rem; /* 48px = 3rem */
    font-weight: 400;
    line-height: 3.25rem; /* 52px = 3.25rem */
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B;
}

.pb2 {
    width: 39rem; /* 624px = 39rem */
    height: 2.5rem; /* 40px = 2.5rem */
    padding: 0.5rem 0rem 0rem 0rem; /* 8px = 0.5rem */
    gap: 0px;
    opacity: 0px;
}

.p2 {
    width: 39rem; /* 624px = 39rem */
    height: 2.5rem; /* 40px = 2.5rem */
    padding: 0.5rem 0rem 0rem 0rem; /* 8px = 0.5rem */
    gap: 0px;
    opacity: 0px;
    font-family: Kumbh Sans;
    font-size: 1.5rem; /* 24px = 1.5rem */
    font-weight: 500;
    line-height: 2rem; /* 32px = 2rem */
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B;
}

.threepics {
    display: flex;
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 36.25rem; /* 580px = 36.25rem */
    gap: 3rem; /* 48px = 3rem */
    opacity: 0px;
}

.one, .two, .three {
    width: 26rem; /* 416px = 26rem */
    height: 36.25rem; /* 580px = 36.25rem */
    gap: 1.5rem; /* 24px = 1.5rem */
    opacity: 0px;
    text-align: center;
}


.one img, .two img, .three img {
    width: 26rem; /* 416px = 26rem */
    height: 26.25rem; /* 420px = 26.25rem */
    gap: 0px;
    border: 0.125rem 0px 0px 0px; /* 2px = 0.125rem */
    opacity: 0px;
    border-top: 0.125rem solid rgba(0, 0, 0, 1);
}

.textthr {
    width: 26rem; /* 416px = 26rem */
    height: 4.75rem; /* 76px = 4.75rem */
    padding: 0rem 0.75rem 0rem 0.75rem; /* 12px = 0.75rem */
    gap: 0.75rem; /* 12px = 0.75rem */
    opacity: 0px;
}

.onep {
    width: 24.5rem; /* 392px = 24.5rem */
    height: 1.5rem; /* 24px = 1.5rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 1.25rem; /* 20px = 1.25rem */
    font-weight: 400;
    line-height: 1.5rem; /* 24px = 1.5rem */
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(29, 34, 27, 1);
}

.twop {
    width: 24.5rem; /* 392px = 24.5rem */
    height: 2.5rem; /* 40px = 2.5rem */
    gap: 0px;
    opacity: 0px;
    font-family: Kumbh Sans;
    font-size: 0.9375rem; /* 15px = 0.9375rem */
    font-weight: 500;
    line-height: 1.25rem; /* 20px = 1.25rem */
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(29, 34, 27, 1);
}

.threepics button {
    width: 7.625rem; /* 122px = 7.625rem */
    height: 2.25rem; /* 36px = 2.25rem */
    padding: 0.5rem 1rem 0.5rem 1rem; /* 8px = 0.5rem, 16px = 1rem */
    gap: 0px;
    border-radius: 0.5rem 0px 0px 0px; /* 8px = 0.5rem */
    opacity: 0px;
    background-color: #204F0A;
}

.threepics button p {
    font-family: Kumbh Sans;
    font-size: 0.9375rem; /* 15px = 0.9375rem */
    font-weight: 600;
    line-height: 1.25rem; /* 20px = 1.25rem */
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FBFFFA;
    background-color: #204F0A;
}
.contact {
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 26.5rem; /* 424px = 26.5rem */
    padding: 6rem 0rem 6rem 0rem; /* 96px = 6rem */
    gap: 3rem; /* 48px = 3rem */
    border: 0px 0px 0.125rem 0px; /* 2px = 0.125rem */
    opacity: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading1 {
    width: 32.125rem; /* 514px = 32.125rem */
    height: 2.5rem; /* 40px = 2.5rem */
    max-width: 45rem; /* 720px = 45rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 2.125rem; /* 34px = 2.125rem */
    font-weight: 400;
    line-height: 2.5rem; /* 40px = 2.5rem */
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B;
}

.input1 {
    width: 37.5rem; /* 600px = 37.5rem */
    height: 3rem; /* 48px = 3rem */
    gap: 0.75rem; /* 12px = 0.75rem */
    opacity: 0px;
}

.input1 input {
    width: 27.9375rem; /* 447px = 27.9375rem */
    height: 3rem; /* 48px = 3rem */
    padding: 0.5rem 0.75rem 0.5rem 0.75rem; /* 8px = 0.5rem, 12px = 0.75rem */
    gap: 0.5rem; /* 8px = 0.5rem */
    border-radius: 0.5rem 0px 0px 0px; /* 8px = 0.5rem */
    border: 0.125rem 0px 0px 0px; /* 2px = 0.125rem */
    opacity: 0px;
    border-top: 0.125rem solid #17340929;
    color: #DADACA66;
}

.input1 input:placeholder-shown {
    width: 26.4375rem; /* 423px = 26.4375rem */
    height: 1.5rem; /* 24px = 1.5rem */
    gap: 0px;
    opacity: 0px;
    font-family: Kumbh Sans;
    font-size: 1.25rem; /* 20px = 1.25rem */
    font-weight: 500;
    line-height: 1.5rem; /* 24px = 1.5rem */
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B66;
}

.input1 button {
    width: 8.875rem; /* 141px = 8.875rem */
    height: 3rem; /* 48px = 3rem */
    padding: 0.75rem 1.5rem 0.75rem 1.5rem; /* 12px = 0.75rem, 24px = 1.5rem */
    gap: 0px;
    border-radius: 0.5rem 0px 0px 0px; /* 8px = 0.5rem */
    opacity: 0px;
    background-color: #204F0A;
}

.input1 button p {
    width: 5.8125rem; /* 93px = 5.8125rem */
    height: 1.5rem; /* 24px = 1.5rem */
    gap: 0px;
    opacity: 0px;
    font-family: Kumbh Sans;
    font-size: 1.25rem; /* 20px = 1.25rem */
    font-weight: 600;
    line-height: 1.5rem; /* 24px = 1.5rem */
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FBFFFA;
    background-color: #204F0A;
}

.socials {
    width: 13rem; /* 208px = 13rem */
    height: 3rem; /* 48px = 3rem */
    gap: 2rem; /* 32px = 2rem */
    opacity: 0px;
    display: flex;
    justify-content: space-between;
}

.facebook, .instagram, .twitter {
    width: 13rem; /* 208px = 13rem */
    height: 3rem; /* 48px = 3rem */
    gap: 2rem; /* 32px = 2rem */
    opacity: 0px;
}

.facebook {
    width: 2.34375rem; /* 37.5px = 2.34375rem */
    height: 2.34375rem; /* 37.5px = 2.34375rem */
    top: 0.328125rem; /* 5.25px = 0.328125rem */
    left: 0.328125rem; /* 5.25px = 0.328125rem */
    gap: 0px;
    opacity: 0px;
    color: #1D221B;
}

.instagram {
    width: 2.673125rem; /* 42.83px = 2.673125rem */
    height: 2.673125rem; /* 42.83px = 2.673125rem */
    top: 0.16125rem; /* 2.58px = 0.16125rem */
    left: 0.161875rem; /* 2.59px = 0.161875rem */
    gap: 0px;
    opacity: 0px;
    color: #1D221B;
}

.twitter {
    width: 2.200rem; /* 35.2px = 2.200rem */
    height: 2.2001875rem; /* 35.23px = 2.2001875rem */
    top: 0.4rem; /* 6.4px = 0.4rem */
    left: 0.4rem; /* 6.4px = 0.4rem */
    gap: 0px;
    opacity: 0px;
    color: #1D221B;
}
.footer {
    width: auto;
    height: 10.5rem; /* 168px = 10.5rem */
    padding: 6rem 0rem 1.5rem 0rem; /* 96px = 6rem, 24px = 1.5rem */
    gap: 1.5rem; /* 24px = 1.5rem */
    border: 0.125rem 0px 0px 0px; /* 2px = 0.125rem */
    opacity: 0px;
}

.footerin {
    display: flex;
    justify-content: space-between;
    width: 84.875rem; /* 1344px = 84.875rem */
    height: 3rem; /* 48px = 3rem */
    opacity: 0px;
}

.pagelinks {
    width: 17.75rem; /* 284px = 17.75rem */
    height: 2rem; /* 32px = 2rem */
    gap: 2rem; /* 32px = 2rem */
    opacity: 0px;
}

.pagelinks p {
    width: 17.75rem; /* 284px = 17.75rem */
    height: 2rem; /* 32px = 2rem */
    gap: 0px;
    opacity: 0px;
    font-family: Cutive;
    font-size: 1.75rem; /* 28px = 1.75rem */
    font-weight: 400;
    line-height: 2rem; /* 32px = 2rem */
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B9E;
}

.buttonLarge {
    width: 7.75rem; /* 124px = 7.75rem */
    height: 3rem; /* 48px = 3rem */
    padding: 0.75rem 1.5rem 0.75rem 1.5rem; /* 12px = 0.75rem, 24px = 1.5rem */
    gap: 0px;
    border-radius: 0.5rem 0px 0px 0px; /* 8px = 0.5rem */
    border: 0.125rem 0px 0px 0px; /* 2px = 0.125rem */
    opacity: 0px;
    border-top: 0.125rem solid #17340929;
}

.buttonLarge p {
    width: 4.75rem; /* 76px = 4.75rem */
    height: 1.5rem; /* 24px = 1.5rem */
    gap: 0px;
    opacity: 0px;
    font-family: Kumbh Sans;
    font-size: 1.25rem; /* 20px = 1.25rem */
    font-weight: 600;
    line-height: 1.5rem; /* 24px = 1.5rem */
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1D221B;
}